# Database
SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/work_force_system
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=root

# JWT
JWT_SECRET = your_jwt_secret_here

#
MAIL_USERNAME=your_mailtrap_username
MAIL_PASSWORD=your_mailtrap_password