.button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition:
    background-color 0.2s,
    color 0.2s;
  display: inline-block;

  &:hover {
    opacity: 0.9;
  }

  background-color: #005691;
  color: #ffffff;

  &--login {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;

    text-align: center;
    transition: background-color 0.6s ease;
    font-size: 17px;
    font-weight: 500;

    &:hover {
      background-color: #34698d;
      color: white;
    }

    background-color: #196191
  }

  &--save {
    padding: 0.5rem 0.5rem;
    border-radius: 8px;
    border: 1px solid #ccc;

    text-align: center;
    //transition: background-color 0.6s ease;
    font-size: 17px;
    font-weight: 500;

    background-color: #0a9e4d;

    &:hover {
      background-color: #05ce5f;
    }
  }

  &--delete {
    padding: 0.5rem 0.7rem;
    border-radius: 20px;
    border: 1px solid #ccc;

    text-align: center;
    transition: background-color 0.6s ease;
    font-size: 14px;
    font-weight: 500;

    &:hover {
      background-color: darkred;
      color: white;
      border: 1px solid #ccc;
    }

    background-color: white;
    color: black;

    
     @include respondBetween(0, $breakpoint-tablet) {
      padding: 0.2rem 0.4rem;
       font-size: 10px;
       width: 3.2rem;
    }
  }

  &--edit {
    padding: 0.5rem 0.7rem;
    border-radius: 20px;
    border: 1px solid #ccc;

    text-align: center;
    transition: background-color 0.6s ease;
    font-size: 14px;
    font-weight: 500;

    &:hover {
      background-color: rgb(179, 182, 21);
      color: white;
      border: 1px solid #ccc;
    }
    background-color: white;
    color: black;

     @include respondBetween(0, $breakpoint-tablet) {
      padding: 0.2rem 0.4rem;
       font-size: 10px;
       width: 3.2rem;
    }
  }

  &--yes {
    padding: 0.5rem 0.5rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 5rem;

    text-align: center;
    transition: background-color 0.6s ease;
    font-size: 17px;
    font-weight: 500;

    &:hover {
      border: 1px solid #ccc;
    }

    background-color: #0a9e4d;
  }

  &--no {
    padding: 0.5rem 0.5rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 5rem;

    text-align: center;
    transition: background-color 0.6s ease;
    font-size: 17px;
    font-weight: 500;

    &:hover {
      background-color: darkred;
      color: white;
      border: 1px solid #ccc;
    }

    background-color: #0a9e4d;
  }

  &--cancel {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;

    text-align: center;
    transition: background-color 0.6s ease;
    font-size: 17px;
    font-weight: 500;

    &:hover {
      background-color: #d8462c;
      color: white;
    }

    background-color: #dd5018;

  }

  &--drop {
    padding: 0.3rem 0.8rem;
    border-radius: 10px;
    border: 1px solid #d1d5db;

    text-align: center;
    transition: background-color 0.6s ease;
    font-size: 17px;
    font-weight: 500;

    &:hover {
      background-color: #196191;
      color: #ffffff;
    }

    background-color: #ffffff;
    color: black;
  }

  &--closeList {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;

    text-align: center;
    transition: background-color 0.6s ease;
    font-size: 10px;
    font-weight: 500;

    &:hover {
      background-color: #d8462c;
      color: white;
    }

    background-color: #ffffff;
    color: black;
  }

  &--addEmployee {
    display: none;
    @include respondBetween(0, $breakpoint-tablet) {
      display: block; // mobilni — vidljivo
    }

    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;

    text-align: center;
    transition: background-color 0.6s ease;
    font-size: 10px;
    font-weight: 500;

    &:hover {
      //border: 1px solid #0a9e4d;
      background-color: #0a9e4d;
      color: white;
    }

    background-color: #ffffff;
    color: black;
  }

  &--closeModal {
    display: none;

    @include respondBetween(0, $breakpoint-tablet) {
      display: block;
      position: absolute;
      top: -10px;
      right: -22px;
      background: none;
      border: none;
      font-size: 1.7rem;
      color: rgb(211, 50, 50);
      cursor: pointer;
      //color: #374151;
    }
  }
}
