.button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  display: inline-block;

  &:hover {
    opacity: 0.9;
  }

  background-color: #005691;
  color: #ffffff;

  &--actions {
    
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;

    text-align: center;
    transition: background-color 0.6s ease;
    font-size: 17px;
    font-weight: 500;

    &:hover {
      background-color: #a1230d;
      color: white;
    }
  }

  &--login {
    
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;

    text-align: center;
    transition: background-color 0.6s ease;
    font-size: 17px;
    font-weight: 500;

    &:hover {
      background-color: #d8462c;
      color: white;
    }

    background-color: #0a9e4d;
  }

  &--edit {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;

    text-align: center;
    transition: background-color 0.6s ease;
    font-size: 17px;
    font-weight: 500;

    &:hover {
      background-color: #a1230d;
      color: white;
    }
  }
}
