.confirmationDialog {
  position: fixed;
  inset: 0; // top: 0; right: 0; bottom: 0; left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;

  &__dialog {
    background-color: #ffffff;
    border-radius: 8px;
    min-width: 300px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);

    animation: fadeInScale 0.3s ease-out;
    border: 1px solid #e5e7eb;
    overflow: hidden;
  }
  &__header {
    background-color: #f3f4f6;
    border: 1px solid #e0e0e0;
    text-align: center;
  }

  &__title {
    margin: 0;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
  }
  &__body {
    padding: 20px;
  }

  &__text {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 2rem;
    
  }

  &__actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}

/* Simple animation */
@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
