.groups {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5rem 0;
  gap: 1.5rem;
  height: calc(100% - 3rem);
  overflow: hidden;
/* POGLETDAT IMA LI EFEKTA
  &__list {
    //border: 1px solid #e5e7eb;
        border: 1px solid #e0e0e0;
    background-color: #ffffff;
    border-radius: 12px;
    //padding: 1rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
    min-width: 10rem;
   
  }

  &__nav {
    background-color: #f3f4f6;
    text-align: center;
    border-bottom: 2px solid #ddd;
  }

  &__title {
    font-size: 0.95rem;
    font-weight: 600;
    margin: 0;
    padding: 0.75rem 0.5rem;
    letter-spacing: 0.6px;
  }


  &__button {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
  }
    */

    @include respondBetween($breakpoint-mobile, $breakpoint-tablet) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &__formModal {
      display: none; // mobilni — sakriveno po defaultu

      &--open {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 100;
        // forma centrirana
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  @include respondBetween(0, $breakpoint-mobile) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &__formModal {
      display: none; // mobilni — sakriveno po defaultu

      &--open {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 100;
        // forma centrirana
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
