.sidebar {
  background: #f8f9fa;
  width: 250px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 14px 0 10px rgba(180, 12, 12, 0.8); // Vidi sta je rec

  transition:
    width 0.4s ease,
    background-color 0.5s,
    color 0.2s;

  &__openClose {
    display: none;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 20px 10px;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 15px 28px;
    cursor: pointer;
    transition:
      background-color 0.5s,
      color 0.2s;

    &::after {
      content: "";
      position: absolute;
      bottom: 6px;
      left: 50%;
      width: 0;
      height: 2px;
      background-color: #1383ba;
      transform: translateX(-50%);
      transition: width 0.2s ease;
    }

    &:hover::after {
      width: 80%;
    }
  }

  &__icon {
    font-size: 1.8rem;
    color: #333;
  }

  &__text {
    font-size: 1.35rem;
    font-weight: 500;
    letter-spacing: 0.5px;
  }

  &__logout {
    padding: 20px 28px;
  }

  &__logoutIcon {
    font-size: 2rem;
  }

  @include respondBetween($breakpoint-mobile, $breakpoint-tablet) {
    width: 35px;

    &__text {
      display: none;

      font-size: 1.2rem;
    }

    &__openClose {
      display: flex;
      align-items: center;
    }

    &__arrows {
      padding: 15px 8px;
      font-size: 1.75rem;
      color: #333;
    }

    &__menu {
      padding: 20px 0;
    }

    &__item {
      padding: 15px 8px;
    }

    &__icon {
      font-size: 1.5rem;
    }

    &__logout {
      padding: 20px 8px;
    }

    &__logoutIcon {
      font-size: 1.75rem;
    }

    &--open {
      width: 170px;

      .sidebar__text {
        display: block;
      }
    }
  }

  @include respondBetween(0, $breakpoint-mobile) {
    width: 35px;

    &__text {
      display: none;
      font-size: 0.8rem;
    }

    &__openClose {
      display: flex;
      align-items: center;
    }

    &__arrows {
      padding: 15px 8px;
      font-size: 1.5rem;
      color: #333;
    }

    &__menu {
      padding: 20px 0;
    }

    &__item {
      padding: 15px 8px;
    }

    &__icon {
      font-size: 1.25rem;
    }

    &__logout {
      padding: 20px 8px;
    }

    &__logoutIcon {
      font-size: 1.5rem;
    }

    &--open {
      width: 130px;

      .sidebar__text {
        display: block;
      }
    }
  }
}
