.siteLayout {
  //@include c-container;
  display: flex;
  height: calc(100dvh - 100px);
  width: 100%;
  

  @include respondBetween($breakpoint-mobile, $breakpoint-tablet) {
  }
  @include respondBetween(0, $breakpoint-mobile) {
    height: auto;
    min-height: calc(100dvh - 100px);
  }
}
  