.siteLayoutContent {
  background-color: #eceff5;
  flex: 1;
  height: 100%;
  padding: 0 2rem;
  box-sizing: border-box;

  @include respondBetween($breakpoint-mobile, $breakpoint-tablet) {
    padding: 0 20px;
    background-color: #fafafa;
  }

  @include respondBetween(0, $breakpoint-mobile) {
    padding: 0 10px;
    height: auto;
    background-color: #fafafa;
    overscroll-behavior-y: contain;
  }
}
