.worldMapContainer {
  height: 65vh;
  border-radius: 12px;
  position: relative;
      //padding: 1.5rem;
          margin: 1.5rem;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
      

  @include respondBetween(0, $breakpoint-mobile) {
    height: 50dvh;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.80);
  }
}
