.groupForm {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;

  padding: 2rem;
  border-radius: 12px;
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);

  //max-height: 630px;
  max-height: calc(100% - 3rem);
  max-width: 420px;
  position: relative;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    position: relative;
  }

  &__title {
    font-size: 1.1rem;
    letter-spacing: 0.3px;
    font-weight: 700;
    text-align: center;
    color: #111827;
    margin-bottom: 1.5rem;
  }

  &__label {
    font-size: 0.85rem;
    font-weight: 600;
    color: #374151;
    text-transform: uppercase;
    letter-spacing: 0.6x;
  }

  &__input {
    padding: 0.75rem 0.9rem;
    border-radius: 10px;
    border: 1px solid #d1d5db;
    background-color: #fff;
    font-size: 0.95rem;

    transition:
      border-color 0.2s ease,
      box-shadow 0.2s ease;

    &:focus {
      border-color: #2563eb;
      outline: none;
      box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.15);
    }
  }

  &__container:hover &__input {
    border-color: #9ca3af;
  }

  &__dropdown {
    position: absolute;
    top: 100%; // odmah ispod button/input
    left: 0;
    width: 95%; // prati širinu containera

    z-index: 10;
    max-height: 260px;
    overflow-y: auto;

    background: #fff;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);

    list-style: none;
    margin: 0; // ← uklanja default margin
    padding: 4px; // ← mali unutrašnji spacing (NE 40px kao default ul)
  }

  &__li {
    padding: 0.5rem 0.75rem;
    cursor: pointer; // <- da klik vizualno radi
    font-size: 0.9rem;

    &:hover {
      background-color: #f3f4f6; // <- hover efekt da se vidi koja stavka je izabrana
    }
  }
}
